HostelManagmentProject/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_regst_InputMessage">
    <wsdl:part name="parameters" element="tns:regst" />
  </wsdl:message>
  <wsdl:message name="IService1_regst_OutputMessage">
    <wsdl:part name="parameters" element="tns:regstResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reggk_InputMessage">
    <wsdl:part name="parameters" element="tns:reggk" />
  </wsdl:message>
  <wsdl:message name="IService1_reggk_OutputMessage">
    <wsdl:part name="parameters" element="tns:reggkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_regrt_InputMessage">
    <wsdl:part name="parameters" element="tns:regrt" />
  </wsdl:message>
  <wsdl:message name="IService1_regrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:regrtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_regadmin_InputMessage">
    <wsdl:part name="parameters" element="tns:regadmin" />
  </wsdl:message>
  <wsdl:message name="IService1_regadmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:regadminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:isStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_isStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:isStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isRT_InputMessage">
    <wsdl:part name="parameters" element="tns:isRT" />
  </wsdl:message>
  <wsdl:message name="IService1_isRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:isRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isGatekeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:isGatekeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_isGatekeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:isGatekeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetgatekeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetgatekeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetgatekeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetgatekeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetrt_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetrt" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetrtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_mutateStNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:mutateStNotification" />
  </wsdl:message>
  <wsdl:message name="IService1_mutateStNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:mutateStNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:loggedstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:loggedstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_mutateRtNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:mutateRtNotifications" />
  </wsdl:message>
  <wsdl:message name="IService1_mutateRtNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:mutateRtNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedRt_InputMessage">
    <wsdl:part name="parameters" element="tns:loggedRt" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedRt_OutputMessage">
    <wsdl:part name="parameters" element="tns:loggedRtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_mutateGKNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:mutateGKNotifications" />
  </wsdl:message>
  <wsdl:message name="IService1_mutateGKNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:mutateGKNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logged_Gatekeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:logged_Gatekeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_logged_Gatekeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:logged_GatekeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addhostel_InputMessage">
    <wsdl:part name="parameters" element="tns:addhostel" />
  </wsdl:message>
  <wsdl:message name="IService1_addhostel_OutputMessage">
    <wsdl:part name="parameters" element="tns:addhostelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_rtnames_InputMessage">
    <wsdl:part name="parameters" element="tns:rtnames" />
  </wsdl:message>
  <wsdl:message name="IService1_rtnames_OutputMessage">
    <wsdl:part name="parameters" element="tns:rtnamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_hostels_InputMessage">
    <wsdl:part name="parameters" element="tns:hostels" />
  </wsdl:message>
  <wsdl:message name="IService1_hostels_OutputMessage">
    <wsdl:part name="parameters" element="tns:hostelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_gknames_InputMessage">
    <wsdl:part name="parameters" element="tns:gknames" />
  </wsdl:message>
  <wsdl:message name="IService1_gknames_OutputMessage">
    <wsdl:part name="parameters" element="tns:gknamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_showallhostel_InputMessage">
    <wsdl:part name="parameters" element="tns:showallhostel" />
  </wsdl:message>
  <wsdl:message name="IService1_showallhostel_OutputMessage">
    <wsdl:part name="parameters" element="tns:showallhostelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerforhostel_InputMessage">
    <wsdl:part name="parameters" element="tns:registerforhostel" />
  </wsdl:message>
  <wsdl:message name="IService1_registerforhostel_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerforhostelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isHostelRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:isHostelRegistered" />
  </wsdl:message>
  <wsdl:message name="IService1_isHostelRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:isHostelRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registeredstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:registeredstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_registeredstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:registeredstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getregisteredstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:getregisteredstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_getregisteredstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getregisteredstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_allotedStudentsforhostel_InputMessage">
    <wsdl:part name="parameters" element="tns:allotedStudentsforhostel" />
  </wsdl:message>
  <wsdl:message name="IService1_allotedStudentsforhostel_OutputMessage">
    <wsdl:part name="parameters" element="tns:allotedStudentsforhostelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_indexForAllottedStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:indexForAllottedStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_indexForAllottedStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:indexForAllottedStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_allotstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:allotstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_allotstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:allotstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addnotificationforsearch_InputMessage">
    <wsdl:part name="parameters" element="tns:addnotificationforsearch" />
  </wsdl:message>
  <wsdl:message name="IService1_addnotificationforsearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:addnotificationforsearchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletependingst_InputMessage">
    <wsdl:part name="parameters" element="tns:deletependingst" />
  </wsdl:message>
  <wsdl:message name="IService1_deletependingst_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletependingstResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkin_InputMessage">
    <wsdl:part name="parameters" element="tns:student_checkin" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkin_OutputMessage">
    <wsdl:part name="parameters" element="tns:student_checkinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkOut_InputMessage">
    <wsdl:part name="parameters" element="tns:student_checkOut" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:student_checkOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkIn_InputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkIn" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkOut_InputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkOut" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_allotedRT_InputMessage">
    <wsdl:part name="parameters" element="tns:allotedRT" />
  </wsdl:message>
  <wsdl:message name="IService1_allotedRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:allotedRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_complaintsfromstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:complaintsfromstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_complaintsfromstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:complaintsfromstudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="regst">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/regst" message="tns:IService1_regst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/regstResponse" message="tns:IService1_regst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reggk">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reggk" message="tns:IService1_reggk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reggkResponse" message="tns:IService1_reggk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="regrt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/regrt" message="tns:IService1_regrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/regrtResponse" message="tns:IService1_regrt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="regadmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/regadmin" message="tns:IService1_regadmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/regadminResponse" message="tns:IService1_regadmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isAdmin" message="tns:IService1_isAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isAdminResponse" message="tns:IService1_isAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isStudent" message="tns:IService1_isStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isStudentResponse" message="tns:IService1_isStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isRT" message="tns:IService1_isRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isRTResponse" message="tns:IService1_isRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isGatekeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isGatekeeper" message="tns:IService1_isGatekeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isGatekeeperResponse" message="tns:IService1_isGatekeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetAdmin" message="tns:IService1_canresetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetAdminResponse" message="tns:IService1_canresetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetgatekeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetgatekeeper" message="tns:IService1_canresetgatekeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetgatekeeperResponse" message="tns:IService1_canresetgatekeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetstudent" message="tns:IService1_canresetstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetstudentResponse" message="tns:IService1_canresetstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetrt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetrt" message="tns:IService1_canresetrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetrtResponse" message="tns:IService1_canresetrt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mutateStNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/mutateStNotification" message="tns:IService1_mutateStNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/mutateStNotificationResponse" message="tns:IService1_mutateStNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loggedstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loggedstudent" message="tns:IService1_loggedstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loggedstudentResponse" message="tns:IService1_loggedstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mutateRtNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/mutateRtNotifications" message="tns:IService1_mutateRtNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/mutateRtNotificationsResponse" message="tns:IService1_mutateRtNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loggedRt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loggedRt" message="tns:IService1_loggedRt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loggedRtResponse" message="tns:IService1_loggedRt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mutateGKNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/mutateGKNotifications" message="tns:IService1_mutateGKNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/mutateGKNotificationsResponse" message="tns:IService1_mutateGKNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logged_Gatekeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logged_Gatekeeper" message="tns:IService1_logged_Gatekeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logged_GatekeeperResponse" message="tns:IService1_logged_Gatekeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addhostel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addhostel" message="tns:IService1_addhostel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addhostelResponse" message="tns:IService1_addhostel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="rtnames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/rtnames" message="tns:IService1_rtnames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/rtnamesResponse" message="tns:IService1_rtnames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hostels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/hostels" message="tns:IService1_hostels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/hostelsResponse" message="tns:IService1_hostels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gknames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/gknames" message="tns:IService1_gknames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/gknamesResponse" message="tns:IService1_gknames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showallhostel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showallhostel" message="tns:IService1_showallhostel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showallhostelResponse" message="tns:IService1_showallhostel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerforhostel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerforhostel" message="tns:IService1_registerforhostel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerforhostelResponse" message="tns:IService1_registerforhostel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isHostelRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isHostelRegistered" message="tns:IService1_isHostelRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isHostelRegisteredResponse" message="tns:IService1_isHostelRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registeredstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registeredstudent" message="tns:IService1_registeredstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registeredstudentResponse" message="tns:IService1_registeredstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getregisteredstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getregisteredstudent" message="tns:IService1_getregisteredstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getregisteredstudentResponse" message="tns:IService1_getregisteredstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allotedStudentsforhostel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/allotedStudentsforhostel" message="tns:IService1_allotedStudentsforhostel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/allotedStudentsforhostelResponse" message="tns:IService1_allotedStudentsforhostel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="indexForAllottedStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/indexForAllottedStudent" message="tns:IService1_indexForAllottedStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/indexForAllottedStudentResponse" message="tns:IService1_indexForAllottedStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allotstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/allotstudent" message="tns:IService1_allotstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/allotstudentResponse" message="tns:IService1_allotstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addnotificationforsearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addnotificationforsearch" message="tns:IService1_addnotificationforsearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addnotificationforsearchResponse" message="tns:IService1_addnotificationforsearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletependingst">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletependingst" message="tns:IService1_deletependingst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletependingstResponse" message="tns:IService1_deletependingst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="student_checkin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/student_checkin" message="tns:IService1_student_checkin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/student_checkinResponse" message="tns:IService1_student_checkin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="student_checkOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/student_checkOut" message="tns:IService1_student_checkOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/student_checkOutResponse" message="tns:IService1_student_checkOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="visitor_checkIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/visitor_checkIn" message="tns:IService1_visitor_checkIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/visitor_checkInResponse" message="tns:IService1_visitor_checkIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="visitor_checkOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/visitor_checkOut" message="tns:IService1_visitor_checkOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/visitor_checkOutResponse" message="tns:IService1_visitor_checkOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allotedRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/allotedRT" message="tns:IService1_allotedRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/allotedRTResponse" message="tns:IService1_allotedRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="complaintsfromstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/complaintsfromstudent" message="tns:IService1_complaintsfromstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/complaintsfromstudentResponse" message="tns:IService1_complaintsfromstudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="regst">
      <soap:operation soapAction="http://tempuri.org/IService1/regst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reggk">
      <soap:operation soapAction="http://tempuri.org/IService1/reggk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regrt">
      <soap:operation soapAction="http://tempuri.org/IService1/regrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regadmin">
      <soap:operation soapAction="http://tempuri.org/IService1/regadmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/isStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRT">
      <soap:operation soapAction="http://tempuri.org/IService1/isRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isGatekeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/isGatekeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetgatekeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetgatekeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetrt">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mutateStNotification">
      <soap:operation soapAction="http://tempuri.org/IService1/mutateStNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loggedstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/loggedstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mutateRtNotifications">
      <soap:operation soapAction="http://tempuri.org/IService1/mutateRtNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loggedRt">
      <soap:operation soapAction="http://tempuri.org/IService1/loggedRt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mutateGKNotifications">
      <soap:operation soapAction="http://tempuri.org/IService1/mutateGKNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logged_Gatekeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/logged_Gatekeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addhostel">
      <soap:operation soapAction="http://tempuri.org/IService1/addhostel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rtnames">
      <soap:operation soapAction="http://tempuri.org/IService1/rtnames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hostels">
      <soap:operation soapAction="http://tempuri.org/IService1/hostels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gknames">
      <soap:operation soapAction="http://tempuri.org/IService1/gknames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showallhostel">
      <soap:operation soapAction="http://tempuri.org/IService1/showallhostel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerforhostel">
      <soap:operation soapAction="http://tempuri.org/IService1/registerforhostel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isHostelRegistered">
      <soap:operation soapAction="http://tempuri.org/IService1/isHostelRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registeredstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/registeredstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getregisteredstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/getregisteredstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allotedStudentsforhostel">
      <soap:operation soapAction="http://tempuri.org/IService1/allotedStudentsforhostel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="indexForAllottedStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/indexForAllottedStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allotstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/allotstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addnotificationforsearch">
      <soap:operation soapAction="http://tempuri.org/IService1/addnotificationforsearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletependingst">
      <soap:operation soapAction="http://tempuri.org/IService1/deletependingst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="student_checkin">
      <soap:operation soapAction="http://tempuri.org/IService1/student_checkin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="student_checkOut">
      <soap:operation soapAction="http://tempuri.org/IService1/student_checkOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="visitor_checkIn">
      <soap:operation soapAction="http://tempuri.org/IService1/visitor_checkIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="visitor_checkOut">
      <soap:operation soapAction="http://tempuri.org/IService1/visitor_checkOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allotedRT">
      <soap:operation soapAction="http://tempuri.org/IService1/allotedRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="complaintsfromstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/complaintsfromstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:5352/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>