HostelManagmentProject/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_registerStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:registerStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_registerStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerGatekeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:registerGatekeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_registerGatekeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerGatekeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerRt_InputMessage">
    <wsdl:part name="parameters" element="tns:registerRt" />
  </wsdl:message>
  <wsdl:message name="IService1_registerRt_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerRtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:registerAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_registerAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AdminLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_AdminLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StudentLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_StudentLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginRT_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginRT" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GatekeeperLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GatekeeperLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_GatekeeperLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GatekeeperLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_changeAdminPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:changeAdminPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_changeAdminPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeAdminPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_changeGateKeeperPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:changeGateKeeperPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_changeGateKeeperPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeGateKeeperPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_changeStudentPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:changeStudentPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_changeStudentPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeStudentPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetrt_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetrt" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetrtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:loggedstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:loggedstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedRt_InputMessage">
    <wsdl:part name="parameters" element="tns:loggedRt" />
  </wsdl:message>
  <wsdl:message name="IService1_loggedRt_OutputMessage">
    <wsdl:part name="parameters" element="tns:loggedRtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logged_Gatekeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:logged_Gatekeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_logged_Gatekeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:logged_GatekeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfavailableRT_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfavailableRT" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfavailableRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfavailableRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfavailableGateKeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfavailableGateKeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfavailableGateKeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfavailableGateKeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addhostel_InputMessage">
    <wsdl:part name="parameters" element="tns:addhostel" />
  </wsdl:message>
  <wsdl:message name="IService1_addhostel_OutputMessage">
    <wsdl:part name="parameters" element="tns:addhostelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_hostelIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:hostelIndex" />
  </wsdl:message>
  <wsdl:message name="IService1_hostelIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:hostelIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfAllHostel_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfAllHostel" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfAllHostel_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfAllHostelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registerForHostel_InputMessage">
    <wsdl:part name="parameters" element="tns:registerForHostel" />
  </wsdl:message>
  <wsdl:message name="IService1_registerForHostel_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerForHostelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isHostelRegistered_InputMessage">
    <wsdl:part name="parameters" element="tns:isHostelRegistered" />
  </wsdl:message>
  <wsdl:message name="IService1_isHostelRegistered_OutputMessage">
    <wsdl:part name="parameters" element="tns:isHostelRegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfRegisteredStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfRegisteredStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfRegisteredStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfRegisteredStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_registeredStudentIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:registeredStudentIndex" />
  </wsdl:message>
  <wsdl:message name="IService1_registeredStudentIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:registeredStudentIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfAllotedStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfAllotedStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfAllotedStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfAllotedStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_indexForAllottedStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:indexForAllottedStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_indexForAllottedStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:indexForAllottedStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_allotStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:allotStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_allotStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:allotStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addnotificationforStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:addnotificationforStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_addnotificationforStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:addnotificationforStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePendingStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePendingStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePendingStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePendingStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkin_InputMessage">
    <wsdl:part name="parameters" element="tns:student_checkin" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkin_OutputMessage">
    <wsdl:part name="parameters" element="tns:student_checkinResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkOut_InputMessage">
    <wsdl:part name="parameters" element="tns:student_checkOut" />
  </wsdl:message>
  <wsdl:message name="IService1_student_checkOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:student_checkOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkIn_InputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkIn" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkOut_InputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkOut" />
  </wsdl:message>
  <wsdl:message name="IService1_visitor_checkOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:visitor_checkOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfallotedRT_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfallotedRT" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfallotedRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfallotedRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_complaintsfromstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:complaintsfromstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_complaintsfromstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:complaintsfromstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_complaintsfromRT_InputMessage">
    <wsdl:part name="parameters" element="tns:complaintsfromRT" />
  </wsdl:message>
  <wsdl:message name="IService1_complaintsfromRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:complaintsfromRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfComplainFromRt_InputMessage">
    <wsdl:part name="parameters" element="tns:listOfComplainFromRt" />
  </wsdl:message>
  <wsdl:message name="IService1_listOfComplainFromRt_OutputMessage">
    <wsdl:part name="parameters" element="tns:listOfComplainFromRtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getIndexedComplaintsFromRt_InputMessage">
    <wsdl:part name="parameters" element="tns:getIndexedComplaintsFromRt" />
  </wsdl:message>
  <wsdl:message name="IService1_getIndexedComplaintsFromRt_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIndexedComplaintsFromRtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addNotificationForRt_InputMessage">
    <wsdl:part name="parameters" element="tns:addNotificationForRt" />
  </wsdl:message>
  <wsdl:message name="IService1_addNotificationForRt_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNotificationForRtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteComplaintsfromStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteComplaintsfromStudents" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteComplaintsfromStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteComplaintsfromStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteComplaintsfromRT_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteComplaintsfromRT" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteComplaintsfromRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteComplaintsfromRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteAllotedStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAllotedStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_deleteAllotedStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAllotedStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewRT_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewRT" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewGateKeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGateKeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewGateKeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewGateKeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_uniqueStudentid_InputMessage">
    <wsdl:part name="parameters" element="tns:uniqueStudentid" />
  </wsdl:message>
  <wsdl:message name="IService1_uniqueStudentid_OutputMessage">
    <wsdl:part name="parameters" element="tns:uniqueStudentidResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="registerStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerStudent" message="tns:IService1_registerStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerStudentResponse" message="tns:IService1_registerStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerGatekeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerGatekeeper" message="tns:IService1_registerGatekeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerGatekeeperResponse" message="tns:IService1_registerGatekeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerRt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerRt" message="tns:IService1_registerRt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerRtResponse" message="tns:IService1_registerRt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerAdmin" message="tns:IService1_registerAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerAdminResponse" message="tns:IService1_registerAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AdminLogin" message="tns:IService1_AdminLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AdminLoginResponse" message="tns:IService1_AdminLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StudentLogin" message="tns:IService1_StudentLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StudentLoginResponse" message="tns:IService1_StudentLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginRT" message="tns:IService1_LoginRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginRTResponse" message="tns:IService1_LoginRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GatekeeperLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GatekeeperLogin" message="tns:IService1_GatekeeperLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GatekeeperLoginResponse" message="tns:IService1_GatekeeperLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeAdminPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/changeAdminPassword" message="tns:IService1_changeAdminPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/changeAdminPasswordResponse" message="tns:IService1_changeAdminPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeGateKeeperPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/changeGateKeeperPassword" message="tns:IService1_changeGateKeeperPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/changeGateKeeperPasswordResponse" message="tns:IService1_changeGateKeeperPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeStudentPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/changeStudentPassword" message="tns:IService1_changeStudentPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/changeStudentPasswordResponse" message="tns:IService1_changeStudentPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetrt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetrt" message="tns:IService1_canresetrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetrtResponse" message="tns:IService1_canresetrt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loggedstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loggedstudent" message="tns:IService1_loggedstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loggedstudentResponse" message="tns:IService1_loggedstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loggedRt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/loggedRt" message="tns:IService1_loggedRt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loggedRtResponse" message="tns:IService1_loggedRt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logged_Gatekeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logged_Gatekeeper" message="tns:IService1_logged_Gatekeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logged_GatekeeperResponse" message="tns:IService1_logged_Gatekeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfavailableRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfavailableRT" message="tns:IService1_listOfavailableRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfavailableRTResponse" message="tns:IService1_listOfavailableRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfavailableGateKeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfavailableGateKeeper" message="tns:IService1_listOfavailableGateKeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfavailableGateKeeperResponse" message="tns:IService1_listOfavailableGateKeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addhostel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addhostel" message="tns:IService1_addhostel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addhostelResponse" message="tns:IService1_addhostel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hostelIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/hostelIndex" message="tns:IService1_hostelIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/hostelIndexResponse" message="tns:IService1_hostelIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfAllHostel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfAllHostel" message="tns:IService1_listOfAllHostel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfAllHostelResponse" message="tns:IService1_listOfAllHostel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registerForHostel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registerForHostel" message="tns:IService1_registerForHostel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerForHostelResponse" message="tns:IService1_registerForHostel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isHostelRegistered">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isHostelRegistered" message="tns:IService1_isHostelRegistered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isHostelRegisteredResponse" message="tns:IService1_isHostelRegistered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfRegisteredStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfRegisteredStudent" message="tns:IService1_listOfRegisteredStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfRegisteredStudentResponse" message="tns:IService1_listOfRegisteredStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registeredStudentIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/registeredStudentIndex" message="tns:IService1_registeredStudentIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registeredStudentIndexResponse" message="tns:IService1_registeredStudentIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfAllotedStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfAllotedStudent" message="tns:IService1_listOfAllotedStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfAllotedStudentResponse" message="tns:IService1_listOfAllotedStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="indexForAllottedStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/indexForAllottedStudent" message="tns:IService1_indexForAllottedStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/indexForAllottedStudentResponse" message="tns:IService1_indexForAllottedStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="allotStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/allotStudent" message="tns:IService1_allotStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/allotStudentResponse" message="tns:IService1_allotStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addnotificationforStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addnotificationforStudent" message="tns:IService1_addnotificationforStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addnotificationforStudentResponse" message="tns:IService1_addnotificationforStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePendingStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletePendingStudent" message="tns:IService1_deletePendingStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletePendingStudentResponse" message="tns:IService1_deletePendingStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="student_checkin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/student_checkin" message="tns:IService1_student_checkin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/student_checkinResponse" message="tns:IService1_student_checkin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="student_checkOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/student_checkOut" message="tns:IService1_student_checkOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/student_checkOutResponse" message="tns:IService1_student_checkOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="visitor_checkIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/visitor_checkIn" message="tns:IService1_visitor_checkIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/visitor_checkInResponse" message="tns:IService1_visitor_checkIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="visitor_checkOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/visitor_checkOut" message="tns:IService1_visitor_checkOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/visitor_checkOutResponse" message="tns:IService1_visitor_checkOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfallotedRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfallotedRT" message="tns:IService1_listOfallotedRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfallotedRTResponse" message="tns:IService1_listOfallotedRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="complaintsfromstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/complaintsfromstudent" message="tns:IService1_complaintsfromstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/complaintsfromstudentResponse" message="tns:IService1_complaintsfromstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="complaintsfromRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/complaintsfromRT" message="tns:IService1_complaintsfromRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/complaintsfromRTResponse" message="tns:IService1_complaintsfromRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listOfComplainFromRt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listOfComplainFromRt" message="tns:IService1_listOfComplainFromRt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listOfComplainFromRtResponse" message="tns:IService1_listOfComplainFromRt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIndexedComplaintsFromRt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getIndexedComplaintsFromRt" message="tns:IService1_getIndexedComplaintsFromRt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getIndexedComplaintsFromRtResponse" message="tns:IService1_getIndexedComplaintsFromRt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addNotificationForRt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addNotificationForRt" message="tns:IService1_addNotificationForRt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addNotificationForRtResponse" message="tns:IService1_addNotificationForRt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteComplaintsfromStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteComplaintsfromStudents" message="tns:IService1_deleteComplaintsfromStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteComplaintsfromStudentsResponse" message="tns:IService1_deleteComplaintsfromStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteComplaintsfromRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteComplaintsfromRT" message="tns:IService1_deleteComplaintsfromRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteComplaintsfromRTResponse" message="tns:IService1_deleteComplaintsfromRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAllotedStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deleteAllotedStudent" message="tns:IService1_deleteAllotedStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteAllotedStudentResponse" message="tns:IService1_deleteAllotedStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewRT" message="tns:IService1_AddNewRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewRTResponse" message="tns:IService1_AddNewRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewGateKeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewGateKeeper" message="tns:IService1_AddNewGateKeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewGateKeeperResponse" message="tns:IService1_AddNewGateKeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uniqueStudentid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/uniqueStudentid" message="tns:IService1_uniqueStudentid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/uniqueStudentidResponse" message="tns:IService1_uniqueStudentid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/registerStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerGatekeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/registerGatekeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerRt">
      <soap:operation soapAction="http://tempuri.org/IService1/registerRt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/registerAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/AdminLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/StudentLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRT">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GatekeeperLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/GatekeeperLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAdminPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/changeAdminPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeGateKeeperPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/changeGateKeeperPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeStudentPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/changeStudentPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetrt">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loggedstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/loggedstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loggedRt">
      <soap:operation soapAction="http://tempuri.org/IService1/loggedRt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logged_Gatekeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/logged_Gatekeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfavailableRT">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfavailableRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfavailableGateKeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfavailableGateKeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addhostel">
      <soap:operation soapAction="http://tempuri.org/IService1/addhostel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hostelIndex">
      <soap:operation soapAction="http://tempuri.org/IService1/hostelIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfAllHostel">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfAllHostel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerForHostel">
      <soap:operation soapAction="http://tempuri.org/IService1/registerForHostel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isHostelRegistered">
      <soap:operation soapAction="http://tempuri.org/IService1/isHostelRegistered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfRegisteredStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfRegisteredStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registeredStudentIndex">
      <soap:operation soapAction="http://tempuri.org/IService1/registeredStudentIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfAllotedStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfAllotedStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="indexForAllottedStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/indexForAllottedStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allotStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/allotStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addnotificationforStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/addnotificationforStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePendingStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/deletePendingStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="student_checkin">
      <soap:operation soapAction="http://tempuri.org/IService1/student_checkin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="student_checkOut">
      <soap:operation soapAction="http://tempuri.org/IService1/student_checkOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="visitor_checkIn">
      <soap:operation soapAction="http://tempuri.org/IService1/visitor_checkIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="visitor_checkOut">
      <soap:operation soapAction="http://tempuri.org/IService1/visitor_checkOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfallotedRT">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfallotedRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="complaintsfromstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/complaintsfromstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="complaintsfromRT">
      <soap:operation soapAction="http://tempuri.org/IService1/complaintsfromRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listOfComplainFromRt">
      <soap:operation soapAction="http://tempuri.org/IService1/listOfComplainFromRt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndexedComplaintsFromRt">
      <soap:operation soapAction="http://tempuri.org/IService1/getIndexedComplaintsFromRt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNotificationForRt">
      <soap:operation soapAction="http://tempuri.org/IService1/addNotificationForRt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComplaintsfromStudents">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteComplaintsfromStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteComplaintsfromRT">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteComplaintsfromRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllotedStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/deleteAllotedStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewRT">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewGateKeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewGateKeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uniqueStudentid">
      <soap:operation soapAction="http://tempuri.org/IService1/uniqueStudentid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:5352/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>