HostelManagmentProject/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
  <xs:element name="registerStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registerGatekeeper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerGatekeeperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registerRt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerRtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="registerAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StudentLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginRT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginRTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GatekeeperLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GatekeeperLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GatekeeperLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeAdminPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeAdminPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeAdminPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeGateKeeperPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeGateKeeperPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeGateKeeperPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeStudentPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeStudentPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="changeStudentPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="canresetrt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="q1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="a1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="canresetrtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="canresetrtResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loggedstudent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loggedstudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="loggedstudentResult" nillable="true" type="q1:Cstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loggedRt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loggedRtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="loggedRtResult" nillable="true" type="q2:CRT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logged_Gatekeeper">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logged_GatekeeperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="logged_GatekeeperResult" nillable="true" type="q3:Cgatek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfavailableRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfavailableRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="listOfavailableRTResult" nillable="true" type="q4:ArrayOfCRT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfavailableGateKeeper">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfavailableGateKeeperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="listOfavailableGateKeeperResult" nillable="true" type="q5:ArrayOfCgatek" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addhostel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostelName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomCapcity" type="xs:int" />
        <xs:element minOccurs="0" name="numberofRooms" type="xs:int" />
        <xs:element minOccurs="0" name="RT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gateKeeperist" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addhostelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="hostelIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hostelIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="hostelIndexResult" nillable="true" type="q6:Hostel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfAllHostel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfAllHostelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="listOfAllHostelResult" nillable="true" type="q7:ArrayOfHostel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerForHostel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="s" nillable="true" type="q8:Cstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerForHostelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isHostelRegistered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isHostelRegisteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isHostelRegisteredResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfRegisteredStudent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfRegisteredStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="listOfRegisteredStudentResult" nillable="true" type="q9:ArrayOfCstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registeredStudentIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registeredStudentIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="registeredStudentIndexResult" nillable="true" type="q10:Cstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfAllotedStudent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfAllotedStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="listOfAllotedStudentResult" nillable="true" type="q11:ArrayOfCstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="indexForAllottedStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="indexForAllottedStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="indexForAllottedStudentResult" nillable="true" type="q12:Cstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allotStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="std" nillable="true" type="q13:Cstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="allotStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addnotificationforStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="not" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addnotificationforStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePendingStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="st" nillable="true" type="q14:Cstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePendingStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="student_checkin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkin_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="student_checkinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="student_checkinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="student_checkOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkOut_date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="student_checkOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="student_checkOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitor_checkIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostregno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visitor_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visitor_cnic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitor_checkInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitor_checkInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitor_checkOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostregno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visitor_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="visitor_cnic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkout" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="visitor_checkOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitor_checkOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfallotedRT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfallotedRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="listOfallotedRTResult" nillable="true" type="q15:ArrayOfCRT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="complaintsfromstudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="r1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomNu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="complaintsfromstudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="complaintsfromRT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="s1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="t1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="r1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="complaintsfromRTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfComplainFromRt">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listOfComplainFromRtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="listOfComplainFromRtResult" nillable="true" type="q16:ArrayOfComplaints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndexedComplaintsFromRt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndexedComplaintsFromRtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="getIndexedComplaintsFromRtResult" nillable="true" type="q17:Complaints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNotificationForRt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="not" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNotificationForRtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComplaintsfromStudents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="comp" nillable="true" type="q18:Complaints" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComplaintsfromStudentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComplaintsfromRT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteComplaintsfromRTResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAllotedStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="s" nillable="true" type="q19:Cstudent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAllotedStudentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewRT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="hostelP" nillable="true" type="q20:Hostel" />
        <xs:element minOccurs="0" name="rtP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewRTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="AddNewRTResult" nillable="true" type="q21:Hostel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGateKeeper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="hostelP" nillable="true" type="q22:Hostel" />
        <xs:element minOccurs="0" name="GateKeeperP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGateKeeperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="AddNewGateKeeperResult" nillable="true" type="q23:Hostel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uniqueStudentid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uniqueStudentidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uniqueStudentidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>