HostelManagmentProject/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5352/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_regst_InputMessage">
    <wsdl:part name="parameters" element="tns:regst" />
  </wsdl:message>
  <wsdl:message name="IService1_regst_OutputMessage">
    <wsdl:part name="parameters" element="tns:regstResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_reggk_InputMessage">
    <wsdl:part name="parameters" element="tns:reggk" />
  </wsdl:message>
  <wsdl:message name="IService1_reggk_OutputMessage">
    <wsdl:part name="parameters" element="tns:reggkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_regrt_InputMessage">
    <wsdl:part name="parameters" element="tns:regrt" />
  </wsdl:message>
  <wsdl:message name="IService1_regrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:regrtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_regadmin_InputMessage">
    <wsdl:part name="parameters" element="tns:regadmin" />
  </wsdl:message>
  <wsdl:message name="IService1_regadmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:regadminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:isStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_isStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:isStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isRT_InputMessage">
    <wsdl:part name="parameters" element="tns:isRT" />
  </wsdl:message>
  <wsdl:message name="IService1_isRT_OutputMessage">
    <wsdl:part name="parameters" element="tns:isRTResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isGatekeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:isGatekeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_isGatekeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:isGatekeeperResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetstudent_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetstudent" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetstudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetstudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetrt_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetrt" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetrt_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetrtResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetgatekeeper_InputMessage">
    <wsdl:part name="parameters" element="tns:canresetgatekeeper" />
  </wsdl:message>
  <wsdl:message name="IService1_canresetgatekeeper_OutputMessage">
    <wsdl:part name="parameters" element="tns:canresetgatekeeperResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="regst">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/regst" message="tns:IService1_regst_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/regstResponse" message="tns:IService1_regst_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="reggk">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/reggk" message="tns:IService1_reggk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/reggkResponse" message="tns:IService1_reggk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="regrt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/regrt" message="tns:IService1_regrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/regrtResponse" message="tns:IService1_regrt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="regadmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/regadmin" message="tns:IService1_regadmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/regadminResponse" message="tns:IService1_regadmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isAdmin" message="tns:IService1_isAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isAdminResponse" message="tns:IService1_isAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isStudent" message="tns:IService1_isStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isStudentResponse" message="tns:IService1_isStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isRT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isRT" message="tns:IService1_isRT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isRTResponse" message="tns:IService1_isRT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isGatekeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isGatekeeper" message="tns:IService1_isGatekeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isGatekeeperResponse" message="tns:IService1_isGatekeeper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetAdmin" message="tns:IService1_canresetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetAdminResponse" message="tns:IService1_canresetAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetstudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetstudent" message="tns:IService1_canresetstudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetstudentResponse" message="tns:IService1_canresetstudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetrt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetrt" message="tns:IService1_canresetrt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetrtResponse" message="tns:IService1_canresetrt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="canresetgatekeeper">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/canresetgatekeeper" message="tns:IService1_canresetgatekeeper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/canresetgatekeeperResponse" message="tns:IService1_canresetgatekeeper_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="regst">
      <soap:operation soapAction="http://tempuri.org/IService1/regst" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reggk">
      <soap:operation soapAction="http://tempuri.org/IService1/reggk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regrt">
      <soap:operation soapAction="http://tempuri.org/IService1/regrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regadmin">
      <soap:operation soapAction="http://tempuri.org/IService1/regadmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/isStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isRT">
      <soap:operation soapAction="http://tempuri.org/IService1/isRT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isGatekeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/isGatekeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetstudent">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetstudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetrt">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetrt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="canresetgatekeeper">
      <soap:operation soapAction="http://tempuri.org/IService1/canresetgatekeeper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:5352/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>